* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto';
  color: white;
}
button {
  cursor: pointer;
}
.header-top-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #2c0e3a;
  height: 60px;
  padding: 25px;
}
.header-main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.match-game-logo {
  width: 100px;
}
.score-and-timer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-paragraph {
  font-weight: bold;
  font-size: 15px;
}
.header-span {
  color: #fec653;
  font-size: 20px;
  font-weight: bold;
}
.timer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 15px;
}
.timer-icon-css {
  width: 25px;
  margin-right: 10px;
}

.complete-bg-match-game-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.main-big-img-style {
  width: 100%;
  margin: 15px 0px 15px 0px;
}
.menu-items-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 25px 0px 25px 0px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.thumbnail-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.result-and-game-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 500px) {
  .main-container-for-play-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-big-img-style {
    max-width: 500px;
  }
  .thumbnail-container {
    max-width: 600px;
  }
  .match-game-logo {
    width: 160px;
  }
}
